@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

:root {
  --core-color: #0081f9;
  --core-color-focus: #0081f991;
  --color-black: #111111;
  --color-semiblack: #262626;
  --color-white: #f5f5fc;
  --color-green: #20931d;
  --color-error: #dd0a0a;
  --dark-background: #262626;
  --light-background: #f5f5fc;
  --input-focus: #44444433;
  --inactive: #8a8a8a;
  --light-button: #f5f5fc;

  --radius-regular: 6px;
  --radius-hard: 9px;
  --border-size: 3px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  min-width: 100vw;
  min-height: fill-available;
  min-width: fill-available;
  overflow-x: hidden;
}

html {
  min-height: fill-available;
  min-width: fill-available;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: var(--dark-background);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--inactive);
  border-radius: 3px;
}

input:focus {
  outline: none;
  background-color: var(--input-focus) !important;
}
.input-error {
  border: 3px solid var(--color-error) !important;
}

.error-field {
  color: var(--color-error);
}

.swal2-modal {
  background-color: var(--dark-background);
  border: none;
  color: var(--color-white);
}
.swal2-btn-success {
  background-color: var(--core-color);
}
