* {
  background-color: #bf9df6;
}

.main-body {
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
  justify-content: space-between;
}

.main-body > .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.main-body > .container > .left-column {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-body > .container > .right-column {
  width: 39%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-body > .container > .right-column:nth-child(1) {
  font-size: 1.5rem;
}

.main-body > .container > .right-column > p * {
  font-size: 1.11rem;
}

a {
  color: var(--dark-background);
  font-size: 15px;
}

@media only screen and (max-width: 930px) {
  .header {
    padding: 24px 50px;
  }
  .footer {
    padding: 60px;
  }
  .main-body > .container > .right-column {
    width: 75%;
  }
  .main-body > .container > .left-column > img {
    width: 75%;
  }
}
